version: "3.0"

services:
  backend:
    build: BackEndApp
    image: autodlhub/backend:v1-beta
    container_name: autodl_backend
    ports:
      - 8000:8000
    volumes:
      - ./BackEndApp/:/code/
    environment:
      - MONGODB_URI= # mongodb://localhost:27017
      - JWT_SECRET= # qwerty1234
      - FRONTEND_HOST= # http://localhost:3000
    restart: on-failure

  frontend:
    build: FrontEndApp/v1-react
    image: autodlhub/frontend:v1-beta
    container_name: autodl_frontend
    ports:
      - 3000:3000
    volumes:
      - ./FrontEndApp/v1-react:/usr/src/app/
      - /usr/src/app/node_modules
    environment:
      - REACT_APP_BACKEND_API_URL= # http://localhost:8000
    restart: on-failure
