{
  "plugins": ["prettier"],
  "extends": ["next", "next/core-web-vitals", "prettier", "airbnb"],
  "rules": {
    "no-console": 1,       // Means warning
    "prettier/prettier": 2 // Means error
  }
}
