# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
Dockerfile
.dockerignore
.gitignore
*.md
**/.git/
.vscode
venv
logs

**/__pycache__/
**/migrations
